.message{
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

#profileButton{
    padding: 0;
    border: 0;
}

.messagePic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageReceipt{
    display: flex;
    align-items: flex-start;
}

.messageReceipt p{
    margin-top: 0%;
    margin-bottom: 0%;
}

.messageUsername{
    font-size: large;
    font-weight: 700;
    margin-right: 50px;
}

.messageTimeStamp{
    font-size: small;
    align-self: end;
}

.messageText{
    text-align: left;
    margin: 0%;
}

